body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lora', sans-serif;
    background-color: #DBDBDB; /* Dark background for contrast */
    color: black;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.rules-wrapper {
    text-align: center;
    width: 80%; /* Optimal reading width */
    margin: auto;
}

h1 {
    color: #fc28a7; /* Pink for emphasis */
    margin-bottom: 20px;
}

.rules-grid {
    display: flex;
    flex-wrap: wrap; /* Allow the children to wrap */
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #fc28a7;
}

.rules-column {
    width: 48%; /* Each column takes almost half of the grid */
    text-align: justify;
    margin-bottom: 10px; /* Ensures space from the banner */
}

.rules-banner {
    width: 100%; /* Full width to span across both columns */
    height: 2px; /* Height of the pink banner */
    background-color: #fc28a7; /* Pink color */
    order: 3; /* Ensures it appears below both columns */
}

.rule-number {
    font-weight: bold;
    color: #fc28a7; 
}

.additional-info {
    width: 100%;
    text-align: left;
    order: 4; /* Ensures these paragraphs are below the banner */
    padding-top: 5px; /* Space above the text */
    padding-bottom: 3px;
}

p {
    margin-bottom: 20px; /* Space between paragraphs */
    font-size: 18px;
}

@media (max-width: 768px) {
    .rules-grid {
        flex-direction: column; 
    }
    .rules-column {
        width: 100%; /* Full width on smaller screens */
    }
    .rules-banner {
        order: 3; /* Keeps the banner below the text in mobile view */
    }
}

button {
    background-color: transparent;
    color: black;
    border: solid;
    border-color: #fc28a7;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Lora';
    font-size: 18px;
    font-style: normal;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
